<style>
  .header {
    text-align: center;
  }
  .header h1 {
    font-size: 200%;
    color: #333;
    margin-top: 30px;
  }
  .header p {
    font-size: 14px;
  }
</style>

<header data-am-widget="header" data-am-sticky="{animation: 'slide-top'}" class="am-topbar am-topbar-inverse">
  <h1 class="am-topbar-brand am-animation-slide-left">
    <a href="/portal/index">QDSC</a>
  </h1>
  <div class="am-topbar-right">
		<% if @user != nil %>
			<div class="am-btn-group am-animation-slide-right">
				<a class="am-btn am-btn am-btn-secondary am-topbar-btn am-btn-sm">Welcome <%= @user["name"] %></a>
				<a href='/users/logout' class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Log out</a>
			</div>
		<% else %>
			<div class="am-btn-group am-animation-slide-right">
				<a href='/users/login' class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Log In</a>
				<a href='/users/register' class="am-btn am-btn-success am-topbar-btn am-btn-sm">Register</a>
			</div>
		<% end %>
  </div>
</header>

<div class="am-u-lg-8 am-u-md-10 am-u-sm-12 am-u-sm-centered am-animation-slide-bottom">

	<% if params[:motd] %>
		<div class="am-alert am-alert-warning"><h3><%= params[:motd] %></h3></div>
	<% end %>

	<% for obj in @applications %>
		<div class="am-g">
  		<div class="am-u-sm-10 am-u-lg-6">
    		<div class="am-thumbnail">
      		<%= image_tag(obj.img, :alt => "") %>
      		<div class="am-thumbnail-caption">
        		<h3><%= obj.title %></h3>
        		<p>
							<%= link_to "Access", "/#{obj.controller}/#{obj.action}", class: "am-btn am-btn-success" %>
							<% if obj.info %>
								<%= link_to "Info", "/#{obj.controller}/#{obj.info}", class: "am-btn am-btn-warning" %>
							<% end %>
						</p>
      		</div>
    		</div>
  		</div>
		</div>
	<% end if @applications %>

</div>
